.env
venv
venv-linux
webshop
alfworld-parent
alfworld
alfworld_data

# Results from experiments
results/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
