.env
venv
venv-linux
webshop
alfworld-parent
alfworld
alfworld_data

# Temporary data directories
temp_feverous/
trajs/
data/

# Results from experiments
# results/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
gemini-agent-env/

# Backup files
*.bak
